@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2rem;
  text-align: center;
}

.App {
  text-align: center;
}
