html {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  background-image: url("./images/pebbles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #4B4E4B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
